<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-os-build-changer" version="1.0"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>cordova-os-build-changer</name>

    
     <platform name="android">
        <hook type="after_prepare" src="hooks/errorscreen_changer.js" />
    </platform>

</plugin>
